/babel.config.js
/example/babel.config.js
/example/metro.config.js
/.eslintrc.js
/example/jest.config.js
/example/jest.setup.js
/enzyme.setup.js
/example/react-native.config.js
/__mocks__
/ios
/android